.sketch-container {
    z-index: -1;
    position: fixed;
    left: 0;
    height: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /*background-color: var(--main-colour);*/
}

#canvas-container {
  position: fixed;
  z-index: -1;

  left: 0;
  top: 0;

  height: 100%;
  width: 100%;
  min-height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

canvas {
  width: 100%;
}
body {
  position: absolute;
  box-shadow: inset 0px 0px 4rem 8rem rgba(0, 0, 0, 0.15);
}

.cover-container {
  position: fixed;
  width: 100%;
  top: 70%;
  z-index: 3;
  /*left: 50%;*/
}

.button-container {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.btn {
  color: #212529;
  background-color: #ffffff;
  margin: 1em;
  font-size: 20;
}

.card-text {
}

.card-year {
  font-style: italic;

}

.vertical-navbar {
  height: 100%;
}
